@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body, header, nav, main {
  margin: 0;
  padding: 0;
}

html{
  position: relative;
  min-height: 100%;
}

body {
  background: #fafafa;
  font-family: "Roboto", sans-sarif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #fcfff5;
}

/* Title */
header {
  text-align: center;
  height: 138px;
  font-size: 2rem;
  letter-spacing: 5px;
  padding-top: 10px;
  color: #131313;
  background: #fafafa;
  font-family: 'Playfair Display', sans-serif;
}

/* Navigation */
nav {
  position: relative;
  color: #131313;
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: -50px;
  padding: 30px 0 5px 0;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: #131313;
  padding: 10px 20px;
}

nav a:hover{
  font-weight: bold;
}

/* Home */
#slider {
  width: 80vw;
  overflow: hidden;
  margin: 0 auto;
  padding: 80px 0px 80px 0px;
}

/* About */
.about-container {
  padding: 105px 20px 40px 20px;
}

.about-container h2{
  color: black;
  font-size: 1.6em;
  border-bottom: 2.8px solid black;
  letter-spacing: .1em;
  width: 90px;
  text-transform: uppercase;
}
.left-side-bio {
  color: #2b343a;
  font-family: 'Roboto', sans-serif;
}

.right-side-bio img {
  width: 550px;
  padding-left: 20px;
  height: 570px;
  float: right;
}

.left-side-bio p{
  line-height: 1.50em;
  font-size: 1.2em;
}

/* Lessons */
.caption {
  color: #333;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
  width: 190px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  max-width: 550px;
  margin-top: 30px;
  color: #333;
}

table td {
  border: 2px solid black;
  padding: 35px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child{
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

tfoot td {
  padding: 30px 2px 0px 2px;
  font-size: .85em;
  line-height: 1.5em;
}

.spacer {
  padding-bottom: 100px;
}

/* Teaching Philosophy */
.tp-container {
  padding: 105px 20px 50px 20px;
}

.left-side-tp {
  color: #2b343a;
  font-family: 'Roboto', sans-serif;
}

.tp-container h2{
  color: black;
  font-size: 1.6em;
  border-bottom: 2.8px solid black;
  letter-spacing: .1em;
  width: 320px;
  text-transform: uppercase;
}

.left-side-tp p{
  line-height: 1.50em;
  font-size: 1.2em;
}

.last-paragraph {
  padding-top: 10px;
  font-style: italic;
}

.tp-container img {
  width: 400px;
  padding: 0 0 100px 20px;
  height: 650px;
  float: right;
}

/* Recordings */
.rec {
  padding-top: 80px;
  text-align: center;
  color: #2b343a;
  font-family: 'Roboto', sans-serif;
}

.rec h3 {
  font-style: italic;
  font-size: 14px;
  padding: 50px;
}

/* Student Resources */
.links-div {
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
}

.links-div h1 {
  color: #2b343a;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.links-div a{
  text-decoration: none;
  color: #fafafa;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #3a3a3a;
  background: #3a3a3a;
  border-radius: 8px;
  padding: 7px 8px;
}

/* Contact */
.contact-div {
  text-align: center;
  background: #fafafa;
  padding: 100px 0px 50px 0px;
  width: 100%;
  margin: auto;
}

.contact-div img{
  border-radius: 100px;
}
.contact-div h2{
  font-size: 32px;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: 'Roboto', sans-serif;

}
.contact-div p{
  margin-top: -10px;
  padding-bottom: 15px;
  font-size: 19px;
  color: #777;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
}

.contact-div a{
  text-decoration: none;
  color: #fafafa;
  font-size: 18px;
  border-radius: 7px;
  letter-spacing: 2px;
  background: #272727;
  padding: 10px 10px;
}

/* Credits */
.rights {
  text-align: center;
  overflow: hidden;
  color: black;
  font-size: .8em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1124px)
{
  header {
    font-size: 1.6rem;
    height: 100px;
  }
  
  nav {
    height: 50px;
    font-size: 1.8vw;
  }
  
  nav a {
    padding: 10px;
  }

  .tp-container img{
    padding-bottom: 10px;
  }
}

@media (max-width: 913px){
  header{
    font-size: 2.7vw;
    padding-top: 25px;
    padding-bottom: 20px;
    height: 35px;
  }

  nav{
    margin-top: 20px;
  }

  #slider{
    width: 85%;
  }
}

@media (max-width: 850px){
  .about-container h2, .tp-container h2{
    text-align: center;
    margin: 0 auto 20px auto;
  }
  
  .about-container img, .tp-container img{
    float: none;
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: 740px){
  .about-container img{
    width: 85vw;
    height: 95vw;
  }

  .tp-container img{
    width: 45vw;
    height: 75vw;
  }

  .left-side-bio p, .left-side-tp p{
    font-size: 1.1em;
    padding-bottom: 15px;
  }

}

/* Mobile version */
@media (max-width: 650px){
  header{
    font-size: 2.3vw;
    padding-top: 20px;
    height: 0;
    padding-bottom: 10px;
  }

  nav{
    padding-bottom: 400px;
    font-size: 3vw;
  }

  nav li{
    display: block;
    border-top: 1px solid black;
    padding: 20px 0;
  }

  nav .bttm{
    border-bottom: 1px solid black;
  }

  ul li a{
    padding: 4% 22%;
  }

  ul li a:hover{
    border: none;
  }

  #slider{
    width: 95%;
  }

  .about-container, .tp-container{
    padding-top: 30px;
  }

  .about-container h2{
    font-size: 1.3rem;
    padding-top: 50px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    width: 90px;
  }

  .tp-container h2{
    padding-top: 50px;
    font-size: 1.3rem;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    width: 300px;
  }

  .about-container img{
    height: 100vw;
    width: 90vw;
    padding: 0;
    margin: 0;
  }

  .tp-container img{
    width: 60vw;
    height: 100vw;
  }

}

@media (min-width: 1750px){
  header {
    height: 138px;
    font-size: 2.4rem;
    letter-spacing: 5px;
  }
  
  /* Navigation */
  nav {
    font-size: 1.5rem;
    margin-bottom: -50px;
    padding: 50px 0 5px 0;
  }

  ul li a{
    margin: 0 40px;
  }

  /* Home */
  #slider{
    padding-bottom: 100px;
    width: 80vw;
  }

  .about-container {
    padding: 120px 20px 0 20px;
    margin: 0 auto;
    max-width: 1650px;
  }

  /* Teaching Philosophy */
  .tp-container {
    padding-top: 155px;
    margin: 0 auto;
    max-width: 1650px;
  }

  .tp-container p{
    font-size: 1.35em;
  }

  /* Contact */
  .contact-div{
    padding-top: 240px;
  }
}

@media (min-width: 2200px){
  /* About */
  .about-container h2{
    font-size: 1.9em;
    width: 110px;
  }
  
  .left-side-bio p{
    font-size: 1.3em;
  }
}
